# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

#APLICATION SERVER - BEGIN==========================================
# Ignore Python virtual environment and cache files
venv/
__pycache__/
*.pyc

# Ignore Python environment variables file
aplication/.env
#APLICATION SERVER - END============================================

#ESPCAM - BEGIN=====================================================
# Ignore Arduino/C++ credentials file
SPARTsCam/include/credentials.hpp
images/
detimages/
Aplication/Debug Interface/images/
# Ignore Arduino build artifacts
/build/
*.o
*.d
#ESPCAM - END=======================================================